<div class="container">
  <div class="row">

    <div class="col-md-3 col-lg-2">
      <%= render 'layouts/sidebar_form', book: @book , user: @user%>
    </div>

    <div class="col-md-8 offset-md-1 col-lg-9 px-md-4">
      <h2>Book detail</h2>

      <% if @books.present? %>
        <%= render "books/book_table", books: @books, show_page: true %>
      <% else %>
        <p>No books found.</p>
      <% end %>

    </div>
  </div>
</div>