<div class="container">
  <div class="row">

    <div class="col-md-3 col-lg-2">
      <%= render 'layouts/sidebar_form' %>
    </div>

    <div class="col-md-8 offset-md-1 col-lg-9 px-md-4">
      <h2>Book detail</h2>
      <%= render partial: "book_table", locals: { books: [@book_show], show_page: true } %>

    </div>
  </div>
</div>


