

<div class="container text-center mt-5">
  <h1 class="mb-4">Welcome to Bookers!!</h1>

  <p class="mb-4">In Bookers,</p>
  <p class="mb-4">you can share and exchange your opinions, impressions, and emotions</p>
  <p class="mb-4">about various books!</p>

  <div class="d-flex flex-column gap-3 align-items-center">
  <%= link_to "Log in", user_session_path, class: "btn btn-primary btn-lg w-50 mt-3" %>
  <%= link_to "Sign up", new_user_registration_path, class: "btn btn-success btn-lg w-50 mt-3" %>
</div>
</div>